.nav {
  position: fixed;
  top: 0;
  left: 0;

  padding: .4rem;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 1rem;

  background: #000;

  a {
    color: white;
    text-decoration: none;
    opacity: .9;
  }

  a:hover {
    text-decoration: underline;
    opacity: 1;
  }
}