:root {
  --bg: #121212;
  --txt: #f5f5f5;
  --font: 'Roboto', system-ui, sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);

  color: var(--txt);
  background-color: var(--bg);
}
