*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;

  color: whitesmoke;
  background: #121212;
}

.header__academy {
  margin: auto;

  width: 100%;
  max-width: 500px;
}

.h1-title__academy {
  text-align: center;

  border-bottom: 2px solid whitesmoke;
}