.login_page,
.register_page {
  padding: 1rem;
}

.form_login,
.form_register {
  margin: 2rem auto;
  padding: 4rem 1rem;

  width: 100%;
  max-width: 700px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;

  border: 1px solid white;
  border-radius: 10px;

  background: rgba(173, 216, 230, 0.400);

  input {
    padding: 1rem .5rem;
    width: 50%;

    border: 0px;
    border-bottom: 2px solid whitesmoke;
    border-radius: 5px;
    outline: none;

    color: white;
    background: transparent;
  }

  input::placeholder {
    color: white;
  }

  button {
    width: 30%;
  }
}
