/* Smooch Sans font-family */
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

.welcome__dashboard {
  padding: 0.5rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    font-family: 'Roboto';
    padding: 0.6rem;

    width: 100px;

    border: 1px solid whitesmoke;
    border-radius: 4px;

    color: white;
    background: transparent;
  }

  h2 {
    font-family: 'Smooch Sans';
    font-size: 32px;
  }
}

.h3-courses_title {
  margin: 1rem auto;
  margin-bottom: 1rem;

  width: 100%;
  max-width: 430px;

  text-align: center;
  border-bottom: 3px solid whitesmoke;
}

.courses_ul {
  list-style: none;

  padding: .3rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  gap: 1rem;
}

.courses_li {
  cursor: pointer;
  padding: .5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;

  border-radius: 8px;

  background: #0066ff54;
  transition: scale .1s ease-in-out;
}

.courses_li:hover {
  scale: 1.05;
}
