.table-container {
  overflow-x: auto;
}

table {
  margin: 0 auto;

  width: 95%;

  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;

  button {
    padding: 0.3rem;

    width: 100%;

    border: 0px;
    border-radius: 5px;

    color: white;
    background: lightcoral;
  }
}

.form {
  padding: 3rem;
  margin-bottom: 2rem;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .form_input {
    display: flex;
    justify-content: center;
    gap: 5px;

    input {
      padding: 1rem;

      width: 100%;

      border: 0px;
      border-bottom: 2px solid white;
      border-radius: 5px;
      outline: none;

      color: white;
      background: transparent;
    }

    input::placeholder {
      color: white;
    }
  }

  select,
  button {
    padding: 0.5rem;

    width: 40%;

    border: 2px solid white;
    outline: none;

    color: white;
    background: transparent;
  }

  button {
    width: 20%;

    border-radius: 8px;
  }

  select option {
    padding: .5rem;

    color: white;
    background: royalblue;
  }
}
