.container__audis {
  margin: 1.5rem auto;
  width: 100%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;
  max-height: 500px;

  scrollbar-width: thin;
  scrollbar-color: rgb(85, 85, 85) rgb(61, 61, 61);
}

.ul__audis {
  padding: 1rem;
  width: 100%;

  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.li__audis {
  padding: .5rem;
  padding-bottom: 1rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: .5rem;

  border-radius: 8px;

  background: #414141;
}

.li__audis--h3 {
  text-align: center;
  font-size: 1.5rem;
}

.li__audis--img {
  width: 100%;

  border-radius: 8px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}
